form {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 400px;
}

button {
  margin-top: 20px;
  width: 200px;
}